<header class="header">
  <div class="header-container">
    <div class="header-left">
      <h1 routerLink="/"><span class="highlight">P</span>roject <span class="highlight">O</span>rganizer</h1>
    </div>
    
    <div class="header-right">
      <div *ngIf="auth.isAuthenticated$ | async; else loggedOut">
        <app-notifications></app-notifications>
        <span class="user-name">{{ (auth.user$ | async)?.name }}</span>
        <button class="btn-logout" (click)="logout()" title="Odjavi se">
          <span class="material-icons">logout</span>
        </button>
      </div>
      <ng-template #loggedOut>
        <button class="btn-login" (click)="login()">Prijavi se</button>
      </ng-template>
    </div>
  </div>
</header>
